<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 引入配置文件,非必须 -->
    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry
            location="D:\m2\repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>
    <!--    <classPathEntry-->
    <!--            location="D:/m2/repository/com/oracle/ojdbc6/11.2.0.3/ojdbc6-11.2.0.3.jar"/>-->
    <context id="context" targetRuntime="MyBatis3">
        <!-- 格式化java代码 -->
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter"
                  value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!-- 是否生成Example Java 代码 -->
        <property name="exampleCreateJava" value="false"/>
        <!--开启抑制类型的警告信息 -->
        <property name="suppressTypeWarnings" value="true"/>
        <!--插件 ：用来给Java模型生成equals和hashcode方法 -->
        <plugin
                type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <!--插件 ：用来为生成的Java模型类添加序列化接口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!--插件 ：用来为生成的Java模型 toString 方法 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!--插件 ：修改查询名称为 Criteria -->
        <plugin
                type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>
        <!--插件 ：修改生成Service接口和实现 -->
        <plugin type="org.mybatis.generator.plugins.JavaServicesCreatePlugin">
            <!--参数 ：实现包 -->
            <property name="implementationPackage"
                      value="com.wonders.xbei.cloud.sae.services.impl"/>
            <!--参数 ：接口包 -->
            <property name="targetPackage"
                      value="com.wonders.xbei.cloud.sae.api.services"/>
            <!--参数：是否生成内部基础方法 -->
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：修改生成Controller -->
        <plugin type="org.mybatis.generator.plugins.JavaControllerCreatePlugin">
            <!--参数 ：包名 -->
            <property name="targetPackage"
                      value="com.wonders.xbei.cloud.sae.controller"/>
            <!--参数 ：引用Service包名 -->
            <property name="servicePackage" value="com.wonders.xbei.cloud.sae.services"/>
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：修改生成Controller 微服务接口 -->
        <plugin type="org.mybatis.generator.plugins.JavaControllerCloudCreatePlugin">
            <!--参数 ：包名 -->
            <property name="targetPackage"
                      value="com.wonders.xbei.cloud.sae.api.action"/>
            <!--参数 ：引用Service包名 -->
            <!--            <property name="servicePackage" value="com.wonders.xbei.cloud.sae.services"/>-->
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：创建集成Mapper类 -->
        <plugin type="org.mybatis.generator.plugins.JavaCreateBaseMapperPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>
        <!-- !!!! Database Configurations !!!! -->
        <!-- jdbc连接 -->
        <!--        <jdbcConnection driverClass="com.mysql.jdbc.Driver"-->
        <!--                        connectionURL="jdbc:mysql://90.90.90.7:3306/nxmz_app"-->
        <!--                        userId="nxmz_appdev" password="Appdev@911"/>-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://90.90.90.2:33061/nxmzdev"
                        userId="nxmzdev" password="nxmzdev"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="com.wonders.xbei.cloud.sae.api.entity"
                            targetProject="E:/tmp">
            <!--            <property name="enableSubPackages" value="true"/>-->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="com.wonders.xbei.cloud.sae.mapping"
                         targetProject="E:/tmp">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="com.wonders.xbei.cloud.sae.mapper"
                             targetProject="E:/tmp"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--        <table tableName="Dic_Organ" domainObjectName="DicOrganEntity" alias="don"/>-->
        <!--        <table tableName="Ha01" domainObjectName="Ha01Entity" alias="ha01"/>-->
        <!--        <table tableName="Ha02" domainObjectName="Ha02Entity" alias="ha02"/>-->
        <!--        <table tableName="Ha03" domainObjectName="Ha03Entity" alias="ha03"/>-->
        <!--        <table tableName="Ha04" domainObjectName="Ha04Entity" alias="ha04"/>-->
        <!--        <table tableName="Ha05" domainObjectName="Ha05Entity" alias="ha05"/>-->
        <!--        <table tableName="Ha06" domainObjectName="Ha06Entity" alias="ha06"/>-->
        <!--        <table tableName="Ha08" domainObjectName="Ha08Entity" alias="ha08"/>-->
        <!--        <table tableName="Ha13" domainObjectName="Ha13Entity" alias="ha13"/>-->
        <!--        <table tableName="Ha15" domainObjectName="Ha15Entity" alias="ha15"/>-->
        <!--        <table tableName="Ha16" domainObjectName="Ha16Entity" alias="ha16"/>-->
        <!--        <table tableName="Ha17" domainObjectName="Ha17Entity" alias="ha17"/>-->
        <!--        <table tableName="Ha18" domainObjectName="Ha18Entity" alias="ha18"/>-->
        <!--        <table tableName="Ha19" domainObjectName="Ha19Entity" alias="ha19"/>-->
        <!--        <table tableName="Ha20" domainObjectName="Ha20Entity" alias="ha20"/>-->
        <!--        <table tableName="Ha21" domainObjectName="Ha21Entity" alias="ha21"/>-->
        <!--        <table tableName="Ha22" domainObjectName="Ha22Entity" alias="ha22"/>-->
        <!--        <table tableName="Ha23" domainObjectName="Ha23Entity" alias="ha23"/>-->
        <!--        <table tableName="Ha24" domainObjectName="Ha24Entity" alias="ha24"/>-->
        <!--        <table tableName="Ha24" domainObjectName="Ha24Entity" alias="ha24"/>-->
        <!--        <table tableName="Hd_Archives" domainObjectName="HdArchivesEntity" alias="Hd_Archives"/>-->
        <!--        <table tableName="Hd_Matarials_App" domainObjectName="HdMatarialsAppEntity" alias="hma"/>-->
        <!--        <table tableName="Hd_Matarials_Person_App" domainObjectName="HdMatarialsPersonAppEntity" alias="hmpa"/>-->
        <!--        <table tableName="Hd_Matarials_Type" domainObjectName="HdMatarialsTypeEntity" alias="hmt"/>-->
        <!--        <table tableName="Webservice_Opinion" domainObjectName="WebserviceOpinionEntity" alias="wo"/>-->
        <!--        <table tableName="Zc01" domainObjectName="Zc01Entity" alias="zc01"/>-->
        <!--        <table tableName="Zc11" domainObjectName="Zc11Entity" alias="zc11"/>-->
        <!--        <table tableName="Zc12" domainObjectName="Zc12Entity" alias="zc12"/>-->
        <!--        <table tableName="Ze01" domainObjectName="Ze01Entity" alias="ze01"/>-->
        <!--        <table tableName="Ze02" domainObjectName="Ze02Entity" alias="ze02"/>-->
        <!--        <table tableName="Zf02" domainObjectName="Zf02Entity" alias="zf02"/>-->
        <!--        <table tableName="cs_user" domainObjectName="CsUser" alias="cu"/>-->
        <table tableName="Ha14" domainObjectName="Ha14Entity" alias="ha14"/>
        <table tableName="Ha07" domainObjectName="Ha07Entity" alias="ha07"/>
    </context>
</generatorConfiguration>
