<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 引入配置文件,非必须 -->
    <!-- !!!! Driver Class Path !!!! -->
    <classPathEntry
            location="D:\m2\repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>
    <!--    <classPathEntry-->
    <!--            location="D:/m2/repository/com/oracle/ojdbc6/11.2.0.3/ojdbc6-11.2.0.3.jar"/>-->
    <context id="context" targetRuntime="MyBatis3">
        <!-- 格式化java代码 -->
        <property name="javaFormatter"
                  value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter"
                  value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <!-- 是否生成Example Java 代码 -->
        <property name="exampleCreateJava" value="false"/>
        <!--开启抑制类型的警告信息 -->
        <property name="suppressTypeWarnings" value="true"/>
        <!--插件 ：用来给Java模型生成equals和hashcode方法 -->
        <plugin
                type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>
        <!--插件 ：用来为生成的Java模型类添加序列化接口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>
        <!--插件 ：用来为生成的Java模型 toString 方法 -->
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>
        <!--插件 ：修改查询名称为 Criteria -->
        <plugin
                type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$"/>
            <property name="replaceString" value="Criteria"/>
        </plugin>
        <!--插件 ：修改生成Service接口和实现 -->
        <plugin type="org.mybatis.generator.plugins.JavaServicesCreatePlugin">
            <!--参数 ：实现包 -->
            <property name="implementationPackage"
                      value="com.wonders.auths.services.impl"/>
            <!--参数 ：接口包 -->
            <property name="targetPackage"
                      value="com.wonders.auths.services"/>
            <!--参数：是否生成内部基础方法 -->
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：修改生成Controller -->
        <plugin type="org.mybatis.generator.plugins.JavaControllerCreatePlugin">
            <!--参数 ：包名 -->
            <property name="targetPackage"
                      value="com.wonders.auths.controller"/>
            <!--参数 ：引用Service包名 -->
            <property name="servicePackage" value="com.wonders.xbei.cloud.sae.services"/>
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：修改生成Controller 微服务接口 -->
        <plugin type="org.mybatis.generator.plugins.JavaControllerCloudCreatePlugin">
            <!--参数 ：包名 -->
            <property name="targetPackage"
                      value="com.wonders.auths.action"/>
            <!--参数 ：引用Service包名 -->
            <!--            <property name="servicePackage" value="com.wonders.xbei.cloud.sae.services"/>-->
            <!--参数 ：文件生成路径 -->
            <property name="targetProject" value="E:/tmp"/>
        </plugin>
        <!--插件 ：创建集成Mapper类 -->
        <plugin type="org.mybatis.generator.plugins.JavaCreateBaseMapperPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
        </commentGenerator>
        <!-- !!!! Database Configurations !!!! -->
        <!-- jdbc连接 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://90.90.90.3:3306/auth"
                        userId="auth" password="auth"/>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- !!!! Model Configurations !!!! -->
        <javaModelGenerator targetPackage="com.wonders.auths.entity"
                            targetProject="E:/tmp">
            <!--            <property name="enableSubPackages" value="true"/>-->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!-- !!!! Mapper XML Configurations !!!! -->
        <sqlMapGenerator targetPackage="com.wonders.auths.mapping"
                         targetProject="E:/tmp">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations !!!! -->
        <javaClientGenerator targetPackage="com.wonders.auths.mapper"
                             targetProject="E:/tmp"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <table tableName="sys_yh" domainObjectName="SysYHEntity" alias="yh"/>
        <table tableName="sys_sj" domainObjectName="SysSJEntity" alias="sj"/>
        <table tableName="sys_qx" domainObjectName="SysQXEntity" alias="qx"/>
        <table tableName="sys_js" domainObjectName="SysJSEntity" alias="js"/>
        <table tableName="sys_jg" domainObjectName="SysJGEntity" alias="jg"/>
        <table tableName="sys_cd" domainObjectName="SysCDEntity" alias="cd"/>
        <!--        <table tableName="fj_jbxx" domainObjectName="fjJbxx" alias="jbxx"/>-->
        <!--        <table tableName="fj_pzxx" domainObjectName="fjPzxx" alias="pzxx"/>-->
    </context>
</generatorConfiguration>
